body{

background-color:lavender;

}

h2{

color:Brown;

text-align:center;

}

h3{

color:red;

}

p{

color:navy;

}

span{

color:red;

}

div{

color:maroon;

background-color:pink;

text-align:center;

}

.img1{

opacity:0.2;

}

.img2{

opacity:0.5;

}

.img3{

opacity:1.0;

}

a:hover{

background-color:yellow;

font-size:30px;

}

#para1{

text-align:center;

color:green;

}
